footer.footer
  .footer__top
    .footer__holder
      .footer__block
        strong.footer__logo
          a(href="/")
        .footer__text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        .footer__link Phone: 
          a(href="tel:18225695896") 182 2569 5896
        .footer__link e-mail: 
          a(href="mailto:info@modu.versus") info@modu.versus
      .footer__block
        .footer__list-box
          .footer__box-title Company
          ul.footer__list
            li: a(href="#") About
            li: a(href="#") FAQ
            li: a(href="#") Contact
            li: a(href="#") Terms
            li: a(href="#") Privacy
            li: a(href="#") Testimonials
        .footer__list-box
          .footer__box-title Community
          ul.footer__list
            li: a(href="#") Blog
            li: a(href="#") Forum
            li: a(href="#") Support
            li: a(href="#") Newsletter
      .footer__block
        .footer__title From the 
          a(href="#") Blog
        ul.footer__list-review
            li.footer__review
              .footer__review-img
                img(src="")
              .footer__review-textbox
                .footer__review-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .footer__review-date 26 May, 2013
            li.footer__review
              .footer__review-img
                img(src="")
              .footer__review-textbox
                .footer__review-text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .footer__review-date 26 May, 2013
  .footer__bottom
    .footer__holder
      .footer__copyright 2013 
        a(href="#") ModusVersus
      ul.footer__social
        li: a.footer__facebook(href="#"): span
        li: a.footer__google(href="#"): span
        li: a.footer__twitter(href="#"): span
        li: a.footer__rss(href="#"): span
